/*Медиа запросы*/
@media ( max-width: 1200px )
    .menu
        &-item
            padding-right: 20px
        &-link
            font-size: 13px
    .promo
        &-header
            font-size: 50px
        &-subheader
            font-size: 30px
    .reasons
        &-block
            margin-top: 70px
        &-descr
            width: 300px
        &-text
            font-size: 13px
    .mobile
        &-item
            width: 304px
            &__subtitle
                font-size: 22px
                line-height: 36px
    .require
        &-descr
            font-size: 15px
    .footer
        &-divider
            display: none
        &-links
            width: 382px
            margin: 0px -90px
@media ( max-width: 991px )
    .menu
        &-item
            padding-right: 8px
        &-link
            font-size: 10px
    .subheader
        &-logo
            img
                width: 100%
        &-official
            font-size: 11px
        &-phone
            font-size: 18px
        &-btn
            width: 100%
            height: 40px
            margin-top: 22px
    .promo
        &-header
            font-size: 38px
        &-subheader
            font-size: 24px
            line-height: 18px
        &-descr
            font-size: 15px
    .reasons
        &-block
            align-items: center
            flex-direction: column
        &-descr
            width: 300px
            margin-top: 20px
    .mobile
        &-item
            width: 221px
            &__subtitle
                font-size: 17px
                line-height: 30px
    .pick
        &-img
            img
                width: 174%
    .footer
        &-mobile
            width: 50%
            img
                margin-bottom: 7px
        &-links
            margin: 0px -60px
