/*стили секции мобайл*/
.mobile
    min-height: 864px
    padding: 48px 0 79px 0
    background: url('../img/mobile_bg.jpg') center center/cover no-repeat
    .row
        margin-top: 32px
    &-item
        position: relative
        width: 320px
        height: 280px
        margin: 0 auto
        margin-bottom: 19px
        padding-top: 92px
        &-1
            background: url('../img/mobile/mobile_img_1.jpg') center center/cover no-repeat
        &-2
            background: url('../img/mobile/mobile_img_2.jpg') center center/cover no-repeat
        &-3
            background: url('../img/mobile/mobile_img_3.jpg') center center/cover no-repeat
        &-4
            background: url('../img/mobile/mobile_img_4.jpg') center center/cover no-repeat
        &-5
            background: url('../img/mobile/mobile_img_5.jpg') center center/cover no-repeat
        &-6
            background: url('../img/mobile/mobile_img_6.jpg') center center/cover no-repeat
        &__subtitle
            color: #ffffff
            font-size: 24px
            font-weight: 400
            line-height: 31px
            text-transform: uppercase
            text-align: center
        &__plus
            display: flex
            justify-content: center
            align-items: center
            width: 26px
            height: 26px
            bottom: 35px
            left: 50%
            transform: translate(-50%)
            background-color: #000000
            margin: 0 auto
            border-radius: 100%
            padding: 6px
            position: absolute
            cursor: pointer
            &:before
                content: ''
                display: block
                width: 14px
                height: 2px
                background-color: #1eacc7
                transition: .7s all
            &:after
                content: ''
                position: absolute
                left: 50%
                transform: translateX(-50%)
                display: block
                width: 2px
                height: 14px
                background-color: #1eacc7
                transition: .7s all
            &:hover
                &:before, &:after
                    background-color: #ff5656
