@charset "UTF-8";
/*Подключаем шрифты*/
* {
  font-family: 'Roboto', sans-serif;
}

/*стили хедера*/
.header {
  position: relative;
}

.header-nav {
  height: 50px;
  background-color: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu-link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu-item {
  border-right: 2px dotted #000;
  padding-right: 28px;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader-logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader-official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.subheader-call {
  margin-top: 19px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}

.subheader-phone {
  display: block;
  margin-top: 8px;
  text-align: right;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 12px;
}

.subheader-btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader-btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

/*Стили блока промо*/
.promo {
  min-height: 800px;
  background: url("../img/promo-bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo-header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo-subheader {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo-descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo-btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo-btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

/*стили блока преимуществ*/
.label {
  margin: 0 auto;
  background-color: #000000;
  width: 112px;
  height: 24px;
  padding: 5px 12px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.title {
  text-align: center;
  margin-top: 38px;
  margin-bottom: 0;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.reasons {
  padding: 71px 0 65px 0;
}

.reasons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  min-width: 342px;
}

.reasons-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons-descr {
  width: 343px;
}

.reasons-subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.reasons-text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  text-align: justify;
}

/*стили секции мобайл*/
.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/mobile_bg.jpg") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile-item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile-item-1 {
  background: url("../img/mobile/mobile_img_1.jpg") center center/cover no-repeat;
}

.mobile-item-2 {
  background: url("../img/mobile/mobile_img_2.jpg") center center/cover no-repeat;
}

.mobile-item-3 {
  background: url("../img/mobile/mobile_img_3.jpg") center center/cover no-repeat;
}

.mobile-item-4 {
  background: url("../img/mobile/mobile_img_4.jpg") center center/cover no-repeat;
}

.mobile-item-5 {
  background: url("../img/mobile/mobile_img_5.jpg") center center/cover no-repeat;
}

.mobile-item-6 {
  background: url("../img/mobile/mobile_img_6.jpg") center center/cover no-repeat;
}

.mobile-item__subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}

.mobile-item__plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  padding: 6px;
  position: absolute;
  cursor: pointer;
}

.mobile-item__plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: .7s all;
  transition: .7s all;
}

.mobile-item__plus:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  -webkit-transition: .7s all;
  transition: .7s all;
}

.mobile-item__plus:hover:before, .mobile-item__plus:hover:after {
  background-color: #ff5656;
}

/*стили блока выбор*/
.pick {
  min-height: 896px;
  padding: 57px 0 138px 0;
  background: url("../img/pick/pick_bg.jpg") center center/cover no-repeat;
}

.label-white {
  margin: 0 auto;
  background-color: #fff;
  width: 112px;
  height: 24px;
  padding: 5px 12px;
  color: #000;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.title-white {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle-white {
  margin-top: 1px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 62px;
}

.postscript-1, .postscript-2 {
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
}

/*стили секции рекваир*/
.require {
  padding: 68px 0 84px 0;
}

.require-block {
  margin: 33px 0;
}

.require-block__nmb {
  margin-bottom: 0;
}

.require-title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

.require-list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

.require-list li {
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #222222;
  position: relative;
  margin-bottom: 10px;
}

.require-list li:before {
  content: '';
  display: block;
  position: absolute;
  width: 21px;
  height: 20px;
  left: -32px;
  top: 3px;
  background: url("../img/requir/requir_gr.png") center center/cover no-repeat;
}

.require-descr {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #42b7cd;
}

.require .warning .require-title {
  color: #ff5959;
}

.require .warning .require-list li:before {
  background: url("../img/requir/requir_red.png") center center/cover no-repeat;
}

/*стили блока мир*/
.world {
  position: relative;
  min-height: 717px;
  padding: 49px 0;
  background: url("../img/world_bg.jpg") center center/cover no-repeat;
}

.world-link {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 49px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  color: #1fbad6;
}

.world-link:hover {
  text-decoration: none;
  color: #fff;
}

/*стили блока футер*/
footer {
  padding: 14px 23px 39px 23px;
}

footer a:hover {
  text-decoration: none;
}

.footer-divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 32px;
}

.footer-wrapper > div {
  width: 33%;
}

.footer-wrapper > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-social {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

.footer-social__item i {
  color: #fff;
}

.footer-links {
  width: 390px;
  margin: 0 auto;
}

.footer-links__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.footer-links__main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer-links__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.footer-links__sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer-links__lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */